PowerPOSLib/Web References/FetchMembershipHistory/FetchMembersPastTransaction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FetchHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="membershipNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchHistoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FetchHistorySoapIn">
    <wsdl:part name="parameters" element="tns:FetchHistory" />
  </wsdl:message>
  <wsdl:message name="FetchHistorySoapOut">
    <wsdl:part name="parameters" element="tns:FetchHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="FetchMembersPastTransactionSoap">
    <wsdl:operation name="FetchHistory">
      <wsdl:input message="tns:FetchHistorySoapIn" />
      <wsdl:output message="tns:FetchHistorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FetchMembersPastTransactionSoap" type="tns:FetchMembersPastTransactionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchHistory">
      <soap:operation soapAction="http://tempuri.org/FetchHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FetchMembersPastTransactionSoap12" type="tns:FetchMembersPastTransactionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchHistory">
      <soap12:operation soapAction="http://tempuri.org/FetchHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FetchMembersPastTransaction">
    <wsdl:port name="FetchMembersPastTransactionSoap" binding="tns:FetchMembersPastTransactionSoap">
      <soap:address location="http://ahava.edgeworks.com.sg/FetchMembersPastTransaction.asmx" />
    </wsdl:port>
    <wsdl:port name="FetchMembersPastTransactionSoap12" binding="tns:FetchMembersPastTransactionSoap12">
      <soap12:address location="http://ahava.edgeworks.com.sg/FetchMembersPastTransaction.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>